<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Records Profiles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }
        .table-responsive {
            margin-top: 20px;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .btn-success {
            margin-top: 20px;
        }
    </style>
    
    <script type="text/javascript">
        // Script de paginación aquí (igual que antes)
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Registro de Perfiles</h1>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Reservación ID</th>
                            <th>Fecha de Check-in</th>
                            <th>Fecha de Check-out</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for Customer in profiles %}
                        <tr>
                            <td>{{ Customer.id }}</td>
                            <td>{{ Customer.checkin_date }}</td>
                            <td>{{ Customer.checkout_date }}</td>
                            <td>{{ Customer.company }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/admin" class="btn btn-success btn-lg btn-block">Módulo de Admin</a>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>